<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <meta http-equiv="content-type; X-UA-Compatible" content="text/html; charset=utf-8; charset=ISO-8859-1; IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">

    <title>Local Audio Server</title>

    <!-- CSS -->
    <link href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="/static/style.css" rel="stylesheet" type="text/css">

    <!-- JS -->
    <script>
      const folderName = "{{ folder }}";
    </script>
    <script async src="/static/player.js"></script>

  </head>

  <body>

    <main class="container">

      <section>
	<span class="material-icons">arrow_back_ios_new</span>&nbsp; <a href="/">Back to main dir</a>
      </section>

      <h3 style="text-align:center">{{ folder }}</h3>

      <div id="songGrid" class="grid">
	{% for song in songs %}
	<div class="songCard" data-index="{{ loop.index0 }}" data-src="/audio/{{ folder }}/{{ song }}" data-title="{{ song }}">
	  <span class="filename">{{ song }}</span>
	  <span class="material-icons" style="color:#90EE90;">play_arrow</span>
	</div>
	{% endfor %}
      </div>

      <div id="playerBar">
	<div id="nowPlaying"></div>

	<div class="player-inline">
	  <audio id="audioPlayer" controls></audio>

	  <span class="player-buttons">
	    <button id="prevBtn" title="Previous" class="outline">
	      <span class="material-icons">skip_previous</span>
	    </button>
	    <button id="nextBtn" title="Next" class="outline">
	      <span class="material-icons">skip_next</span>
	    </button>
	    <button id="playbackModeToggle" title="Shuffle" class="outline">
	      <span class="material-icons" id="playbackModeIcon">shuffle</span>
	    </button>
	  </span>
	</div>
      </div>

    </main>

    <div id="feedbackOverlay" style="display: none;"></div>

  </body>

</html>
