<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <meta http-equiv="content-type; X-UA-Compatible" content="text/html; charset=utf-8; charset=ISO-8859-1; IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">

    <title>Local Audio Server</title>

    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">

  </head>

  <body>

    <main class="container">

      <section>
	<a href="/">⬅️ Back to main dir</a><br>
      </section>

      <h4>{{ folder }}</h4>

      <div id="songGrid" class="grid">
	{% for song in songs %}
	<div class="songCard" data-index="{{ loop.index0 }}" data-src="/audio/{{ folder }}/{{ song }}" data-title="{{ song }}">
	  <div style="display:flex;justify-content:space-between;align-items:center;">
	    <strong>{{ song }}</strong>
	    <span class="material-icons" style="color:blue;">play_arrow</span>
	  </div>
	</div>
	{% endfor %}
      </div>

      <div id="playerControls">
	<button id="prevBtn" title="Previous" class="outline">
	  <span class="material-icons iconFS">skip_previous</span>
	</button>
	<button id="nextBtn" title="Next" class="outline">
	  <span class="material-icons iconFS">skip_next</span>
	</button>
	<button id="shuffleToggle" title="Shuffle Off" class="outline">
	  <span class="material-icons iconFS" id="shuffleIcon">shuffle</span>
	</button>
	<button id="repeatToggle" title="Repeat Off" class="outline">
	  <span class="material-icons iconFS" id="repeatIcon">repeat</span>
	</button>
      </div>

      <footer id="playerBar">
	<div id="nowPlaying" style="font-weight:bold;font-size:1rem;margin: 0 0 .5rem 0;"></div>
	<audio id="audioPlayer" controls style="width:100%;max-width:500px;"></audio>
      </footer>

    </main>

    <script>
      const folderName = "{{ folder }}";
    </script>
    <script src="/static/player.js"></script>

  </body>

</html>
