<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon">
    <title>Local Audio Server</title>

    <!-- CSS -->
    <link href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">

    <!-- JS -->
  </head>

  <body>

    <main class="container">
      <h3>WRaihan's Audio Player Server</h3>

      <ul id="folderList">
	{% for folder in folders %}
	<li><a href="/folder/{{ folder }}">{{ folder }}</a></li>
	{% endfor %}
      </ul>
    </main>

  </body>
</html>
